/* styles.css */

body {
    color: white
}

.container {
    position: relative;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.overlay-elements {
    position: absolute;
    top: 20vh;
    left: 10vw;
    width: 28vw;
}

.overlay-elements-tables {
    position: absolute;
    top: 5vh;
    left: 10vw;
    width: 28vw;
}