/* styles.css */

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}
  
.table {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.overlay-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#sit {
    margin-left: 6vw;
    margin-top: 39vh;
}
